<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="astyle.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form id="my-form" name="myform" action="#">
        <label for="name">Name:</label>
        <input type="text" name ="name"><br>
        <input type="submit" name="submit" value="Submit">
    </form>
<div id="mes"></div>
    <script src="/static/spo.js"></script>
</body>
</html>